.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/res/layout/fragment/
togglelibrary/libs/
togglelibrary/src/main/java/
togglelibrary/src/main/res/drawable/
